@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
} 
* {
  scrollbar-width: none;
}
video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 1 !important;
}

input[type='checkbox'] {
  appearance: none;
}
input[type='checkbox']:checked:before{
  content:'\2713'; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
}
.bg-dot {
  --dot-bg: #111111;
  --dot-color: #C7C7C7;
  --dot-size: 2px;
  --dot-space: 30px;
  opacity: 0.3;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
}